.column {
  width: 30%;
  padding: 10px;
}

.jobCard {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteIcon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.deleteIcon:hover {
  transform: scale(1.2);
}
